[Unit]
Description=PostOffice
After=network.target

[Service]
User=akkoyun
Group=akkoyun
WorkingDirectory=/home/akkoyun/API/PostOffice
Environment="PATH=/home/akkoyun/API/PostOffice/venv/bin"
EnvironmentFile=/home/akkoyun/API/PostOffice/.env
ExecStart=/home/akkoyun/API/PostOffice/venv/bin/gunicorn -w 5 -k uvicorn.workers.UvicornWorker API.PostOffice.main:app --bind 0.0.0.0:8000 

[Install]
WantedBy=multi-user.target