[Unit]
Description=PostOffice Service Controller
After=network.target

[Service]
WorkingDirectory=/root/PostOffice
ExecStart=/usr/bin/python3 /root/PostOffice/Utils/Service_Control.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target