[Unit]
Description=PostOffice Device Handler Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/PostOffice/Handler_Device.py
WorkingDirectory=/root/PostOffice
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target