[Unit]
Description=PostOffice Device Handler Service
After=network.target

[Service]
WorkingDirectory=/root/PostOffice
ExecStart=/usr/bin/python3 /root/PostOffice/Handler/Handler_Info.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target