[Unit]
Description=PostOffice API Sercice
Wants=kafka.service
After=kafka.service

[Service]
WorkingDirectory=/root/PostOffice
ExecStart=/opt/PostOffice_ENV/bin/gunicorn --workers=4 --worker-class=uvicorn.workers.UvicornWorker --bind=0.0.0.0:8000 main:PostOffice
Restart=on-failure

[Install]
WantedBy=multi-user.target