[Unit]
Description=PostOffice Power Handler Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/PostOffice/Handler_Battery.py
WorkingDirectory=/root/PostOffice
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target