[Unit]
Description=Hardware API Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/PostOffice
ExecStart=gunicorn -c /root/PostOffice/Setup/Service/Hardware_API_Config.py Hardware:Hardware_API

[Install]
WantedBy=multi-user.target