[Unit]
Description=PostOffice Hardware API Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/PostOffice
ExecStart=gunicorn -c /root/PostOffice/Docs/Service/config.py -k uvicorn.workers.UvicornWorker PostOffice:PostOffice

[Install]
WantedBy=multi-user.target