[Unit]
Description=PostOffice Hardware API Service
After=network.target

[Service]
User=akkoyun
Group=akkoyun
WorkingDirectory=/root/PostOffice
ExecStart=/usr/bin/gunicorn -c /root/PostOffice/Docs/Service/PostOffice_config.py PostOffice:PostOffice
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target